################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/travel.shots.spa/obj/Debug
/.vs
